
body.about{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #DBFFE6;
}

.ab-h{
  background: linear-gradient(to right, #22A570, #585858);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
}

.ab-s3-c {
  background: linear-gradient(
    to right,
    #22A570,
    #156947
  );
}

.ab-s3-c-h{
  background: linear-gradient(to right, rgb(214, 214, 214), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  

}

.ab-s3-c-h-c-h{
  background: linear-gradient(to right, rgb(214, 214, 214), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: white;
  
}

.ab-s3-c-h-c-l{
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  

}

.ab-s4-c2-l{
  background: white;
  color: rgb(0, 0, 0);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.14);
  
  
}
