body.services{
    width: 100%;
    height: 100%;
    padding: 0  ;
    margin: 0;
    background-color: #DBFFE6;
}

.serv-h{
  background: linear-gradient(to right, #22A570, #585858);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-bottom: 30px;
}

.serv-card-icon{
    --serv-ci: clamp(4rem, 8vw, 12rem);
    width: var(--serv-ci);
    height: var(--serv-ci);
}
/* .serv-card-icon:hover{
   color:black;
} */

.serv-card-gr1{
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(228, 228, 228));
    /* background-color: white; */
    color: rgb(0, 0, 0); 
}

.serv-card-gr2 {
    background: rgb(0, 154, 75); 
    color: white;
    /* transition: all 0.3s ease; */
}

/* .serv-card-gr2:hover {
    background: rgb(255, 255, 255); 
    color: black;
} */


/* .serv-card-gr2, .serv-card-gr1{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
} */

