
h1{font-size: calc(clamp(1.4rem, 2.5vw, 3rem)*1.4);}
h2{font-size: calc(clamp(1.6rem, 2.5vw, 2.5rem)*1.2);}
h3{font-size: calc(clamp(1.6rem, 2.5vw, 2.5rem)*1);}
h4{font-size: calc(clamp(1.6rem, 2.5vw, 2.5rem)*1);}
h5{font-size: calc(clamp(1.6rem, 2.5vw, 2.5rem)*0.6);}
h6{font-size: calc(clamp(1.6rem, 2.5vw, 2.5rem)*0.4);}
p{font-size: calc(clamp(1.6rem, 2.5vw, 2.5rem)*0.4);}
li{font-size: calc(clamp(1.6rem, 2.5vw, 2.5rem)*0.3);}

/* HOME */
/* .home-tagline{font-size: calc(clamp(2rem, 2.5vw, 3.5rem)*1.8);} */
.h-s1-h{font-size: calc(clamp(1.5rem, 2.5vw, 3.5rem)*1);}

/* SERVICES */
.serv-h{font-size: calc(clamp(1.5rem, 2.5vw, 3.5rem)*1.5);}
.serv-l{font-size: calc(clamp(1.7rem, 2.5vw, 3.5rem)*0.5);}
.serv-card-h{font-size: calc(clamp(2rem, 2.5vw, 3.5rem)*0.65);}
.serv-card-l{font-size: calc(clamp(2rem, 2.5vw, 3.5rem)*0.45);}

/* ABOUT */
.ab-h{font-size: calc(clamp(1.5rem, 2.5vw, 3rem)*1.8);}
.ab-s2-l{font-size: calc(clamp(1.5rem, 2.5vw, 2.5rem)*0.6);} 
.ab-s3-c-h{font-size: calc(clamp(1.5rem, 2.5vw, 2.5rem)*1.2);}
.ab-s3-c-h-c-h{font-size: calc(clamp(1.5rem, 2.5vw, 3rem)*1);}
.ab-s4-c-h-c-l{font-size: calc(clamp(1.5rem, 2.5vw, 3rem)*0.6);}
.ab-s4-c-btn{font-size: calc(clamp(1rem, 2vw, 1.8rem)*0.8);}
.ab-s4-c2-l{font-size: calc(clamp(1.7rem, 2.5vw, 2.5rem)*0.5);}
.ab-s4-c3-c-h{font-size: calc(clamp(1rem, 2.5vw, 2rem)*1.1);}

.ab-s4-c3-c-h-ch{font-size: calc(clamp(1rem, 2.5vw, 1.5rem)*0.8);}
.ab-s4-c3-c-h-cl{font-size: calc(clamp(1.2rem, 2.5vw, 2rem)*0.6);}
.ab-s4-c3-c-h-cp{font-size: calc(clamp(1.3rem, 2.5vw, 2.5rem)*0.4);}

/* TEAM */
.t-s2-h{font-size: calc(clamp(1.5rem, 2.5vw, 2.5rem)*1);}
.t-s2-c-h{font-size: calc(clamp(1.5rem, 2.5vw, 2.5rem)*0.6);}
.t-s2-c-l{font-size: calc(clamp(1.5rem, 2.5vw, 3rem)*0.35);}   
.t-s2-c-l2{font-size: calc(clamp(1.5rem, 2.5vw, 3rem)*0.4);}   

.serv-s3h{font-size: calc(clamp(1.2rem, 2.5vw, 2.5rem)*1.2);}
.serv-s3l{font-size: calc(clamp(1.2rem, 2.5vw, 2.5rem)*0.7);}


/* C */
.asdasd{font-size: calc(clamp(2rem, 2.5vw, 3.5rem)*2);}

/* FOOTER */
.coppyright{font-size: calc(clamp(0.8rem, 2vw, 1.4rem)*0.8);}

.home-stats{font-size: calc(clamp(1.2rem, 2.5vw, 2.5rem)*1);}